{% extends "base.html.twig" %}

{% block title %}Mes annonces{% endblock %}

{% block body %}
<section class="d-flex gap-5 flex-wrap justify-content-center">
    {% for userId in userId %}
    <div class="card position-relative" style="width: 18rem;">
        <a class="text-decoration-none text-dark" href="{{ path('detail', {'id': userId.id}) }}">
            {% if userId.imagePath %}
            {% set image = userId.image.first %}
            <img class="card-img-top" src="/images/upload/{{ userId.imagePath }}" alt="Card image cap">
            {% else %}
            <h4>🚫 Pas d'image</h4>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ userId.city }}, {{ userId.country }}</h5>
                <p class="card-text">{{ userId.description }}</p>
                <p><b>{{ userId.price }}€</b> par nuit</p>
                <div class="btn-card d-flex gap-1">
                    <a href="{{ path('editAd', {'id': userId.id}) }}" class="btn btn-secondary "><i class="fa-solid fa-pen-to-square"></i></a>
                    {{ include('ads/_delete_form.html.twig') }}
                    {# <a href="{{path('deleteAd', {'id': userId.id})}}" class="btn btn-danger "><i class="fa-solid fa-trash-can"></i></a> #}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}