{# {% extends "base.html.twig" %}

{% block title %}{{ ads.city }} {{ ads.country }}{% endblock %}

{% block body %}

<section class="container">
    <h2 class="title-details">{{ ads.typeId.label}} - {{ ads.city }}</h2>
    <div>
        <img src="{{ ads.image.first.imagePath }}" alt="">
    </div>
    <div>
        <h3>{{ ads.typeId.label}} - {{ ads.city }}, {{ ads.country }}</h3>
        <p>À savoir: {{ ads.description }}</p>
        <p>Nombre de couchages: {{ ads.sleeping }}</p>
    </div>

    <div>
        <h5>{{ ads.price }}€ par nuit</h5>
    </div>
</section>
{% endblock %} #}

{% extends "base.html.twig" %}

{% block title %}{{ ads.city }} {{ ads.country }}{% endblock %}

{% block body %}

<section class="container">
    <h2 class="title-details">{{ ads.typeId.label}} - {{ ads.city }}</h2>
    <div class="mb-3">
        <img class="image-size" src="/images/upload/{{ ads.imagePath }}" alt="Photo du bien">
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <h3>{{ ads.typeId.label }} - {{ ads.city }}, {{ ads.country }}</h3>
            <h5>À savoir: <span class="text_desc">{{ ads.description }}</span></h5>
            <h5>Nombre de couchages: <span class="text_desc">{{ ads.sleeping }}</span></h5>
            <h5>Équipements:</h5>
            <ul>
                {% for item in equipments %}
                <li>
                    {{ item.label }}
                </li>
                {% endfor %}
            </ul>
            <h6 class="by mt-5"><b>Hôte:</b> {{ user.lastname }} {{ user.firstname }}</h6>
        </div>
        <div class="reservation">
            <h3 class="text-center">Reservation</h3>
            <form class="bg-light p-5 border rounded d-flex flex-column" method="post">
                <h4>{{ ads.price }}€ <span class="text_desc">par nuit</span></h4>

                {# <label for="start">Date de départ:</label>
                <input type="date" id="start" name="dateStart" value="2024-01-01" min="2024-01-01" max="2026-01-01" />

                <label for="end">Date de retour:</label>
                <input type="date" id="start" name="dateEnd" value="2024-01-01" min="2024-01-01" max="2026-01-01" /> #}

                

                <label for="numGuests">Nombre d'invités :</label>
                <input type="number" id="numGuests" name="numGuests" value="1" min="1">

                <br>
                <div class="text-center mt-3">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <button type="submit" class="btn btn-success">Réserver maintenant</button>
                    {% else %}
                    <a href="{{ path('login') }}" class="btn btn-success">Réserver maintenant</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

</section>
{% endblock %}