{% extends "base.html.twig" %}

{% block title %}{{ ads.city }} {{ ads.country }}{% endblock %}

{% block body %}
{% include "_parts/_header.html.twig" %}

<section class="container">
    <h2 class="title-details">{{ ads.typeId.label}} - {{ ads.city }}</h2>
    <div>
        <img src="{{ ads.image.first.imagePath }}" alt="">
    </div>
    <div>
        <h3>{{ ads.typeId.label}} - {{ ads.city }}, {{ ads.country }}</h3>
        <p>À savoir: {{ ads.description }}</p>
        <p>Nombre de couchages: {{ ads.sleeping }}</p>
    </div>

    <div>
        <h5>{{ ads.price }}€ par nuit</h5>
    </div>
</section>
{% endblock %}