{# {% extends 'base.html.twig' %}

{% block title %}Airbnb | Locations de vacances, cabanes, maisons...{% endblock %}


{% block body %}
{% include "_parts/_header.html.twig" %}

{% for item in ads %}
<div id="card" class="container card" style="width: 18rem;">
    <a class="text-decoration-none text-dark" href="">
        {% set image = item.image.first %}
        {% for image in item.image %}
        <img class="card-img-top" src="{{ image.imagePath }}" alt="Card image cap">
        {% endfor %}
        <div class="card-body">
            <h5 class="card-title">{{ item.city }}, {{ item.country }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <p><b>{{ item.price }}€</b> par nuit</p>
        </div>
    </a>
</div>
{% endfor %}
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Airbnb | Locations de vacances, cabanes, maisons...{% endblock %}

{% block body %}
{% include "_parts/_header.html.twig" %}

<section class="body-content d-flex gap-5 flex-wrap justify-content-center">
{% for item in ads %}
    <div class="card" style="width: 18rem;">
        <a class="text-decoration-none text-dark" href="{{ path('detail', {'id': item.id}) }}">
            {% if item.image is not empty and item.image.first is not same as(false) %}
            {% set image = item.image.first %}
            <img class="card-img-top" src="{{ image.imagePath }}" alt="Card image cap">
            {% else %}
            {# Handle the case where the image is not available #}
            <h4>🚫 Pas d'image</h4>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ item.city }}, {{ item.country }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <p><b>{{ item.price }}€</b> par nuit</p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}