{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
{{ parent() }}
{# Ajoutez le lien vers votre fichier CSS personnalisé ici s'il n'est pas déjà inclus #}
<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
{% include "_parts/_header.html.twig" %}
<div class="container">
    <form method="post" class="login-form">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.email }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                autocomplete="email" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>

        <div class="additional-links">
            <a href="{{ path('accueil') }}">Retour au menu</a>
            <span class="divider">|</span>
            <a href="{{ path('register') }}">S'inscrire</a>
        </div>
    </form>
</div>
{% endblock %}








{# {% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="center-container">
    <div class="login-container">
        <form action="{{path('login')}}" method="post" class="login-form">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.email }}, <a href="{{ path('logout') }}">Logout</a>
            </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <div class="input-group">
                <label for="inputEmail"></label>
                <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail"
                    class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="input-group">
                <label for="inputPassword"></label>
                <input placeholder="Mot de passe" type="password" name="password" id="inputPassword"
                    class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token">

            <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
        </form>
    </div>
</div>
{% endblock %} #}




{# {% extends "base.html.twig" %}
{% block title %}Identification{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-5">Identification</h2>
    <div class="card w-50 mt-3 ms-auto me-auto">
        <div class="card-body">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey }}</div>
            {% endif %}
            <form method="post" action="{{ path(" login") }}">
                <div class="form-group">
                    <label for="email">Identifiant</label>
                    <input type="text" class="form-control" id="email" name="_username" value="{{ last_username }}">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="_password">
                </div>
                <div class="d-flex justify-content-center mt-5">

                    <a class="btn btn-sm btn-outline-warning me-2" href="{{ path('accueil') }}">Retour</a>

                    <button type="submit" class="btn btn-sm btn-outline-primary">
                        Connexion
                    </button>
                </div>
                <div class="links">
                    <a href="/register">S'inscrire</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} #}