<section class="container">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('✓ Sauvegarder') }}</button>
{{ form_end(form) }}
<a href="{{ path('accueil') }}" class="mt-2 btn btn-secondary">Retour à l'accueil</a>
</section>